.App {
  text-align: center;
}

.ui.secondary.pointing.menu {
  height: 11vh;
  background-color: #83ebed
}

.account-button {
  height: 5vh;
}

/* general home page before login */

.homepage-image {
 height: 60vh;
 background-image: linear-gradient(to right bottom, rgba(46, 49, 46, 0.8), rgba(36, 34, 36, 0.8)), url(./img/homepage-background.jpg);
 background-size: cover;
 background-position: top;
 position: relative;
 color: white;
 font-family: 'Roboto', sans-serif;
 font-size: 3rem;
 text-align: center;
 line-height: 60vh;
 margin-bottom: 5vh;
}

.info-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ui.items {
  border: 2px solid black;
  height: 20vh;
  width: 20vw;
  margin-top: 10%;
}

.users.icon {
  align-items: center;
}

.ui.card {
  margin: 0;
}

.container-content {
  margin-top: 5vh;
  margin-bottom: 2vh;
  width: 100%;
  border: 1px solid grey;
}

.info-image {
  display: inline-block;
  margin-top: 3px 
}

.container-content {
  display: flex;
  align-items: center;
}

.info-data {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10%;
  color: grey
}

.bottom-sign-up {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh

}

/* Account forms */

.account-form {
  width: 50%;
  margin-left: 25%
}

.form-header {
 text-align: center;
 height: 9vh
}

.user-page-container {
  display: grid;
}

.group-container {
  width: 30vw
}

.user-item {
 display: flex
}

.user-card-content {
  margin-top: 10vh;
  margin-left: 5vw
}

.settings-button {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.settings-back-button.ui.button {
  display: inline-block;
  float: left;
  margin-left: 1%;
}

.settings-text-area {
  width: 50vw;
  height: 10vh
}

/* Group page */

.group-content-container {
  display: flex
}

.photo-header {
  background: white;
  text-align: center;
}

.photo-container {
  width: 30vw;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
}

.photo-button {
  justify-content: flex-end;
  display: flex;
}

.post-container {
  height: 75vh;
  overflow: scroll;
  border: 1px solid grey; 
}

.post {
  width: 65vw;
  height: 20vh;
  border-bottom: 1px solid grey;
  padding: 2%
}

/* view post page */

.back-button {
  margin-top: 2%
}

.view-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-post-container {
  border: 1px solid grey;
  margin-top: 2%;
  min-height: 50vh;
}

.post-content {
  margin: 5%;
}

.parent-comment-container {
  margin-top: 3%;
  margin-bottom: 3%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw
}
